.features{
  @include laptop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &--content{
    text-align: center;
    margin-bottom: 75px;
  }
  &--title,&--info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &--info{
    color: #ccc;
    line-height: 1.5em;
  }
}
.secondary{
  @include laptop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
  }
  margin-bottom: 50px;
  &--img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &--title,&--paragraph{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &--paragraph{
    color: #ccc;
    text-align: justify;
  }
  &--link{
    @include laptop{
      margin-left: 30px;
      &:hover{
        color: $white;
      }
    }
    display: inline-block;
    text-decoration: none;
    color: $cyan;
    border-bottom: 1px solid;
    margin-left: 20px;
  }
}