.main{
  margin-bottom: 100px;
  &--img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &--title{
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5em;
  }
  &--paragraph{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
    color: #ccc;
  }
  &--button{
    border: none;
    outline: none;
    width: 250px;
    height: 50px;
    margin-left: 15%;
    font-size: 1.5em;
    padding: 0.5rem;
    background-color: $cyan;
    color: $white;
    border-radius: 25px;
  }
}
